* {
    
    box-sizing: border-box;
}
body {
    margin: 0;
    

}
img {
    width: 294px;
    height:184px;
    

}


.border {
    
    border: solid ;
    width: 300px;
    height: 250px;
    
   
} 


/* Slideshow container */
.container-slide{
    
position: relative;
margin: auto;
}

/* Make the images invisible by default */

.container {
    
    display: none;
} 



/* forward & Back buttons */

.back,
.forward {
    cursor: pointer;
    position: absolute;
    top: -50px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    transition: 0.4s ease;
}


/* Place the "forward button" to the right */

.forward {
    right: 0;
}

.back:hover,.forward:hover{
    background-color:rgba(252, 246, 246, 0.8);
}



